#category-names{

}

#category-names a:hover {
  cursor: pointer;
}

.category-button {
  padding: 5px 0;
  color:black;
  text-decoration: none;
  border: 0;
}

.category-details {
  font-weight: bold;
}

