#category-names{
  font-weight: 500;
}

#category-names a:hover {
  cursor: pointer;
}

.category-button {
  margin: 5px 0;
  color:black;
  border: 0;
  background-color: Gold;
  text-align: center;
}

.category-button a {
  text-decoration: none;
}

.yellow {
  background-color: Gold;
}

.blue {
  background-color: royalblue;
}

.green {
  background-color: seagreen;
}

.red {
  background-color: #df2d4f;
}

.pink {
  background-color: HotPink;
}

.sienna {
  background-color: Sienna;
}

.mediumPurple {
  background-color: MediumPurple;
}

.orange{
  background-color: Orange;
}

.gray {
  background-color: Gray;
}

