#tag-container {
  font-weight: bold;
}

#tag-names {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  gap: 10px 10px;
}

#tag-names a:hover {
  cursor: pointer;
}

.tag-button {
  padding: 4px 10px;
  color: #fff;
  font-size: 80%;
  text-decoration: none;
  border: 0;
}

a:hover {
  text-decoration: underline;
}

.yellow {
  background-color: Gold;
}

.blue {
  background-color: royalblue;
}

.green {
  background-color: seagreen;
}

.red {
  background-color: #df2d4f;
}

.pink {
  background-color: HotPink;
}

.sienna {
  background-color: Sienna;
}

.mediumPurple {
  background-color: MediumPurple;
}

.orange{
  background-color: Orange;
}

.gray {
  background-color: Gray;
}

.tag-details {
  margin-top: 30px;
}
